<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!-- Here i Include Header -->
    <%- include('partials/header') %>
    <!-- The jumbotron Part  -->
    <section class="jumbotron">
      <div class="row-jumbotron">
        <div class="left-jumbotron">
          <h1>We make PDF easy</h1>
          <p>
            All the tools you’ll need to be more productive and work smarter
            with documents.
          </p>
          <div class="jumbobuttons">
            <button class="freetrials">Start Free Trial</button>
            <button class="exploreallpdfs">Explore All PDF Tools</button>
          </div>
        </div>
        <div class="right-jumbotron">
          <img class="pdfimage" src="/images/pdfimage.jpg" />
        </div>
      </div>
    </section>
    <section>
      <h1>Image to PDf</h1>
      <form action="/imageToPdf" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <input
            type="file"
            name="files"
            multiple
            required
            class="form-control"
          />
        </div>
        <div class="form-group">
          <button class="btn btn-danger btn-block">Convert to PDf</button>
        </div>
      </form>
    </section>
    <!-- The main functionality ui for which we can converts the pdfs -->
    <section class="toolsup">
      <h1>Most Popular PDF Tools</h1>
      <p>
        21 tools to convert, compress, and edit PDFs for free. Try it out today!
      </p>
      <div class="card-flex">
        <% for(let i of cardContents) { %>
        <div class="card-content">
          <i class="fa fa-home cardImg"></i>
          <div class="card-text">
            <h5><%= i.title %></h5>
            <p><%= i.content %></p>
          </div>
          <i class="fas fa-chevron-right card-right"></i>
        </div>
        <%} %>
      </div>
    </section>
    <br /><br />

    <!-- <section class="toolsup">
      <h1>Most Popular PDF Tools</h1>
      <p>
        21 tools to convert, compress, and edit PDFs for free. Try it out today!
      </p>
      <div class="card-content">
        <i class="fa fa-home cardImg"></i>
        <div class="card-text">
          <h5>PDF TO WORD</h5>
          <p>Convert PDF TO Editable word documents</p>
        </div>
        <i class="fas fa-chevron-right card-right"></i>
      </div>
    </section> -->
    <br /><br />
    <section>
      <h1>PDf to Image</h1>
      <form action="/pdfToImg" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <input
            type="file"
            name="pdfFile"
            multiple
            required
            class="form-control"
          />
        </div>
        <div class="form-group">
          <button class="btn btn-danger btn-block">Convert to PNG</button>
        </div>
      </form>
    </section>

    <section class="leftrightcontent">
      <% for(let j of thirdStage) { %>

      <div class="row-jumbotron">
        <div class="left-jumbotron">
          <h1><%= j.heading %></h1>
          <p><%= j.paragraph %></p>
          <br />
          <form action="/pdfupload" method="POST" enctype="multipart/form-data">
            <button class="editpdf"><%= j.anchorTag %></button>
          </form>
        </div>
        <div class="right-jumbotron">
          <!-- If you face any problem then remove the "" from src and all the code works fine -->
          <!-- <img class="pdfimage" src=<%= j.image %> /> -->
        </div>
      </div>
      <%} %>
    </section>
    <br /><br />
    <section>
      <h1>DOCX TO PDF</h1>
      <form action="/docxtopdf" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <input
            type="file"
            name="documents"
            multiple
            required
            class="form-control"
          />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-danger btn-block">
            Convert to PDf
          </button>
        </div>
      </form>
    </section>
    <section class="twolines">
      <h1>Keep Your Simple Tasks Simple</h1>
      <p>
        Smallpdf is the first and only PDF software you’ll love. We have all the
        tools you’ll need to start, manage, and finish your work with digital
        documents.
      </p>
    </section>

    <section class="chooseus">
      <h1>Why Choose small Pdf</h1>

      <div class="card-flex2">
        <% for(let k of chooseUs) { %>
        <div class="card-contents">
          <i class="fa fa-home cardImg"></i>
          <div class="card-text">
            <h5><%= k.title %></h5>
            <p><%= k.content %></p>
          </div>
          <i class="fas fa-chevron-right card-right"></i>
        </div>
        <%} %>
      </div>
    </section>
    <%- include('partials/footer.ejs') %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </body>
</html>
