<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!-- Here i Include Header -->
    <%- include('partials/header') %>
    <!-- The jumbotron Part  -->
    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" id="file"/><br/>
        <input type="submit" value="upload file">
        <form action="/pdfImg">
        <button type="submit" value="convertFile">PDfToImg</button>
        </form>
       
      </form><br/><br/>
      <% if(data.length > 0){%>
          <table>
              <thead>
                  <tr>
                      <th>Images</th>
                      <th>Download</th>
                     
                  </tr>
              </thead>
              <tbody>
                <% for(let i=0;i<data.length;i++){%>
                  <tr>
                      <td><img src="<%= data[i].filePath %>" alt="images" width="100px" height="100px"/></td>

                      <!-- <td><a href="<%= data[i].url %>">Download</a> -->
                      </td>
                      <td>
                      <form action="/download/<%=  data[i]._id %>">
                        <input type="submit" value="download">
                      </form>
                       <form action="/imgToPDf/ <%= data[i]._id %>">
        <input type="submit" value="convertFile">
        </form>
                      </td>
                  <%} %>   
              </tbody>
          </table>
        <%}%>
      <div class="jumbotron">

    <%- include('partials/footer.ejs') %>
  </body>
</html>
